<form [formGroup]='formPessoa' (ngSubmit)="salvar()">
  <mat-card>
    
    <mat-card-header>
      <mat-card-title>Crud de Pessoa</mat-card-title>
      <mat-card-subtitle>Cadastrar Pessoa</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      
        
        <mat-form-field>
          <input matInput placeholder="Nome" formControlName="nome" required>
          <mat-error *ngIf="formPessoa.get('nome').hasError('required')">Campo obrigatório.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Sobrenome" formControlName="sobrenome" required>
          <mat-error *ngIf="formPessoa.get('sobrenome').hasError('required')">Campo obrigatório.</mat-error>
        </mat-form-field>
        
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dataNascimento" required>
          <mat-error *ngIf="formPessoa.get('dataNascimento').hasError('required')">Campo obrigatório.</mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
        <button type='submit' mat-button color='primary'>
          Salvar
        </button>
    </mat-card-actions>
  </mat-card>
 </form>

