<mat-card>
  <mat-card-header>
    <mat-card-title>Crud de Pessoa</mat-card-title>
    <mat-card-subtitle>Consultar Pessoa</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table mat-table fxFlex [dataSource]="dataSource">
    
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let pessoa"> {{pessoa.nome}} </td>
      </ng-container>
      
       <!-- Nome Column -->
      <ng-container matColumnDef="sobrenome">
        <th mat-header-cell *matHeaderCellDef> Sobrenome </th>
        <td mat-cell *matCellDef="let pessoa"> {{pessoa.sobrenome}} </td>
      </ng-container>
    
    
    
    
     <!-- Nome Column -->
      <ng-container matColumnDef="dataNascimento">
        <th mat-header-cell *matHeaderCellDef> Data Nascimento </th>
        <td mat-cell *matCellDef="let pessoa"> {{pessoa.dataNascimento | date: "DD/MM/YYYY"}} </td>
      </ng-container>
      
      <!-- Ações Column -->
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let pessoa; let index = index"> 
           <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editarPessoa(pessoa)">
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
              <button mat-menu-item (click)="removerPessoa(pessoa, index)">
                <mat-icon>delete</mat-icon>
                <span>Remover</span>
              </button>
          </mat-menu>
        </td>
      </ng-container>
    
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card-content>
  <mat-card-actions>
    <a mat-button color='primary' routerLink="../cadastrar-pessoa" >Cadastrar</a>
  </mat-card-actions>
</mat-card>

